.layout-wrapper {
  height: 100vh;
  width: 100vw;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
  margin: 16px 0;
  color: #fff;
  font-weight: 500;
}

.logo.logo-fold span {
  padding-left: 32px;
}

.logo span {
  transition: all 0.3s ease;
  padding-left: 24px;
} 

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.layout-content {
  margin-top: 16px;
}

.breadcrumb {
  margin-bottom: 8px;
}

.layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  cursor: pointer;
}

