    <div class="align parent">
      <div class="grid grid1">
          <p class="login-text">Login</p>
          <p class="sub-login-text">Sign In to your account</p>
          <form  method="POST" class="form login">
            <div class="form__field">
              <label for="login__email">
                <span nz-icon nzType="user" [nzTheme]="'outline'"></span>
                <span class="hidden">Email</span></label>
              <input id="login__email" type="email" [(ngModel)]="loginObj.email" name="email" class="form__input" placeholder="Email" required>
            </div>
            <div class="form__field">
              <label for="login__password">
                <span nz-icon nzType="lock" nzTheme="outline"></span>
                <span class="hidden">Password</span></label>
              <input id="login__password" type="password" [(ngModel)]="loginObj.password" name="password" class="form__input" placeholder="Password" required>
            </div>
            <input class="login-btn" type="submit" (click)="onLogin()" value="Login">
          </form>
          <!-- <p class="text--center">Not a member? <a href="/signup">Sign up now</a> <svg class="icon">
              <use xlink:href="#icon-arrow-right"></use>
            </svg></p> -->
        </div>
        <div class="grid grid2">
          <p class="signup">Sign up</p>
          <p class="sub-signup">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
          <input class="signup-btn" type="submit" (click)="goSignupPage()" value="Register Now!">
        </div>
        
    </div>