<div nz-flex nzJustify="flex-end">
  <button
    (click)="showModal()"
    class="emp-btn-add"
    nz-button
    nzType="primary"
    nzSize="large"
  >
    Add new
  </button>
</div>
<nz-table
  class="emp-content-wrapper"
  [nzData]="listOfEmployees"
  [nzScroll]="{ x: '1200px', y: '620px' }"
  #EmployeeTable
>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>DoB</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Position</th>
      <th>Hire Date</th>
      <th>Department</th>
      <th>Salary ID</th>
      <th nzRight>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of EmployeeTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.dateOfBirth | date : "dd/MM/yyyy" }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.position }}</td>
      <td>{{ data.hireDate | date : "dd/MM/yyyy" }}</td>
      <td>{{ data.department.departmentName }}</td>
      <td>{{ data.salaryId }}</td>
      <td nzRight>
        <a (click)="showModal(data)" style="margin-right: 8px">
          <span nz-icon nzType="edit" nzTheme="twotone"></span>
        </a>
        <a (click)="showDeleteConfirm(data.id)">
          <span
            nz-icon
            nzType="delete"
            [nzTwotoneColor]="'#e01d1d'"
            nzTheme="twotone"
          ></span>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [nzVisible]="isVisible"
  [nzTitle]="this.currentEmp ? 'Update an employee' : 'Add a new employee'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form
      nz-form
      [formGroup]="employeeForm"
      [nzAutoTips]="autoTips"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName"
          >First Name</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="firstName"
            id="firstName"
            placeholder="Enter first name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName"
          >Last Name</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="lastName"
            id="lastName"
            placeholder="Enter last name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dateOfBirth"
          >Date Of Birth</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker formControlName="dateOfBirth" id="dateOfBirth" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address"
          >Address</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="address"
            id="address"
            placeholder="Enter address"
          />
        </nz-form-control>
      </nz-form-item>
      <!-- Province -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="province"
          >Tỉnh/Thành phố</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-group class="gr-select">
            <nz-select
              formControlName="province"
              nzAllowClear
              id="province"
              nzPlaceHolder="Chọn Tỉnh/Thành phố"
              (ngModelChange)="handleChangeProvince($event)"
            >
              <nz-option
                *ngFor="let p of listOfProvince"
                [nzLabel]="p.province_name"
                [nzValue]="p.province_id"
              ></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Quận/Huyện -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="district"
          >Quận/Huyện</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-group class="gr-select">
            <nz-select
              formControlName="district"
              nzAllowClear
              id="district"
              nzPlaceHolder="Chọn Quận/Huyện"
              (ngModelChange)="handleChangeDistrict($event)"
            >
              <nz-option
                *ngFor="let p of listOfDistrict"
                [nzLabel]="p.district_name"
                [nzValue]="p"
              ></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Phường/Xã -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ward"
          >Phường/Xã</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-group class="gr-select">
            <nz-select
              formControlName="ward"
              nzAllowClear
              id="ward"
              nzPlaceHolder="Chọn Phường/Xã"
              (ngModelChange)="handleChangeWard($event)"
            >
              <nz-option
                *ngFor="let p of listOfWard"
                [nzLabel]="p.ward_name"
                [nzValue]="p"
              ></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- Phone Number -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phoneNumber"
          >Phone Number</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="phoneNumber"
            id="phoneNumber"
            type="number"
            placeholder="Enter phone number"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
          >Email</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="email"
            id="email"
            type="email"
            placeholder="Enter email"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="position"
          >Position</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="position"
            id="position"
            placeholder="Enter position"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="departmentId"
          >Department ID</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-group class="gr-select">
            <nz-select
              formControlName="departmentId"
              nzAllowClear
              id="departmentId"
              nzPlaceHolder="Select Department"
            >
              <nz-option
                *ngFor="let department of listOfDepartments"
                [nzLabel]="department.departmentName"
                [nzValue]="department.departmentId"
                onchange="handleChangeDep(department.departmentId)"
              ></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="salaryId">Salary ID</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="salaryId" id="salaryId" placeholder="Enter salary ID" />
          </nz-form-control>
        </nz-form-item> -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="salaryId"
          >Salary ID</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-group class="gr-select">
            <nz-select
              formControlName="salaryId"
              nzAllowClear
              id="salaryId"
              nzPlaceHolder="Select Salary"
            >
              <nz-option
                *ngFor="let sal of listOfSalarys"
                [nzLabel]="sal.baseSalary"
                [nzValue]="sal.salaryId"
                onchange="handleChangeSal(sal.salaryId)"
              ></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="hireDate"
          >Hire Date</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker formControlName="hireDate" id="hireDate" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
