<div nz-flex nzJustify="flex-end">
  <button class="dep-btn-add" nz-button nzType="primary" nzSize="large">
    Add new
  </button>
</div>
<nz-table [nzData]="Department" #DepartmentTable>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Manager ID</th>
          <th nzRight>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of DepartmentTable.data">
          <td>{{ data.departmentId }}</td>
          <td>{{ data.departmentName }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.managerId }}</td>
          <td>
          <span class="cursor-pointer" style="margin-right: 8px;" nz-icon nzType="edit" nzTheme="twotone"></span>
          <span class="cursor-pointer" nz-icon nzType="delete" [nzTwotoneColor]="'#e01d1d'" nzTheme="twotone"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>