/* You can add global styles to this file, and also import other style files */

.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5715;
  color: rgba(0, 0, 0, 0.65);
  /* background-color: #f0f2f5; */
}

.cursor-pointer {
  cursor: pointer;
}

.gr-select .ant-input-group-addon {
  border: none;
  padding: 0;
}

.scroll-x {
  overflow-x: auto;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

/* ::-webkit-scrollbar {
    height: 10px;
} */

/* ::-webkit-scrollbar
{
	height: 8px;
}


::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: #001529;
}



::-webkit-scrollbar-thumb
{
	background-color: #f0f2f5;
	border: 1px solid #000000d9;
    border-radius: 100px;
    
} */
